button.active{
  background-color: rgb(228, 56, 56);
  color:white;
}
li.completed{
  border: 1px solid rgb(230, 230, 230);
  padding: 10px;
  border-radius: 5px;
  background: rgb(193, 224, 238);
  margin-bottom: 10px;
  transition: 0.2s ease-in;
}

li.notCompleted{
  border: 1px solid rgb(230, 230, 230);
padding: 10px;
border-radius: 5px;
background: rgb(246, 246, 246);
margin-bottom: 10px;
transition: 0.2s ease-in;
}

.mainDiv{
  background-color: rgb(84, 219, 190);
  height: 100%;
}

.secondDiv{
  background-color: white;
  margin:10px;
  border-radius: 10px;
  height: 400px;
  padding:10px;
  max-width:400px;
  position: relative;
  height: auto;
}

.addComponent{
  margin-top:20px;
  margin-bottom:20px;
  display: block;
}

.txtComponent{
  margin-bottom:20px;
}

.MuiInput-root{
  width:100%;
}

.buttonErase{
  position: absolute;
right: 5%;
background-color: white;
}